@using Resources
@model MediaCommMvc.Web.ViewModels.UploadViewModel

<h2>@Resources.Photos.Upload</h2>


<form id="fileupload" method="POST" enctype="multipart/form-data">

    @Html.LabelFor(m => m.AlbumName)

    <input id="AlbumInput" name="AlbumInput" type="text" data-provide="typeahead" data-items="4" data-source='@this.Model.AllAlbumNamesJson' />
    <input id="AlbumName" name="AlbumName" type="hidden" />
    @Html.ValidationMessageFor(m => m.AlbumName)

    <div class="row fileupload-buttonbar">
        <div class="span7">
            <span class="btn btn-success fileinput-button">
                <i class="icon-plus icon-white"></i>
                <span>@Photos.AddPhotos</span>
                <input type="file" name="files[]" multiple accept="image/jpeg">
            </span>
            <button type="submit" class="btn btn-primary start">
                <i class="icon-upload icon-white"></i>
                <span>@Photos.StartUpload</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="icon-ban-circle icon-white"></i>
                <span>@Photos.CancelUpload</span>
            </button>
        </div>
        <!-- The global progress information -->
        <div class="span5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-success progress-striped active" role="progressbar">
                <div class="bar" style="width: 0%;"></div>
            </div>
            <!-- The extended global progress information -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <!-- The loading indicator is shown during file processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped">
        <tbody class="files"></tbody>
    </table>
</form>


<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td>{% if (!o.options.autoUpload) { %}
                <button style="display: none" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td>{% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="icon-ban-circle icon-white"></i>
                <span>@Resources.Photos.CancelUpload</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else { %}
            <td class="preview">
              
        <span class="label label-success">
                         <i class="icon-check icon-white"></i>
                        <span>@Resources.Photos.Finished</span>
                    </span>
            </td>
            <td class="name" colspan="4">
                {%=file.name%}
            </td>      
        <td></td>      
        {% } %}
        </tr>
{% } %}
</script>

@section scripts
{
    @Scripts.Render("~/bundles/upload")


    <script>
        $(function () {
            
            $('#AlbumInput').keyup(function() {
                $('#AlbumName').val($('#AlbumInput').val());
            });
            
            $('#AlbumInput').change(function () {
                $('#AlbumName').val($('#AlbumInput').val());
            });

            $('#fileupload').fileupload({
                maxFileSize: 10000000,
                acceptFileTypes: /(\.|\/)(jpe?g)$/i,
                sequentialUploads: true
            })
                .bind('fileuploadstart', function () {
                   
                    $('#AlbumInput').prop("disabled", "disabled");
                })
                .bind('fileuploadstop', function () {
                    setTimeout(function () {
                        window.location = '@Url.Action(MVC.Photos.Index())';
                    }, 3000);
                });
        });
    </script>
}


