@using MediaCommMvc.Web.Models.Forums
@using MediaCommMvc.Web.Models.Forums
@using MediaCommMvc.Web.ViewModels
@{
    ViewBag.Title = Resources.General.Title;
}

<div class="row">
    <div class="col-md-8">
        <div id="forum-new-topics">
            <h6>Todo: newest Posts</h6>
            <table id="forum-topics" class="table table-striped">
                <thead>
                    <tr class="navbar">
                        <th></th>
                        <th>@Resources.Forums.Topic</th>
                        <th>@Resources.Forums.LastPost</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Topic topic in this.Model.Topics)
                    {
                        <tr>
                            <td class="icon">
                                <i class="@Url.TopicIconClass(topic)"></i>

                            </td>
                            <td class="topic-title">
                                <div>
                                    @Html.ActionLink(@topic.Title, MVC.Forums.Topic().AddRouteValues(new { id = topic.Id, name = Url.ToFriendlyUrl(topic.Title) }))
                                </div>
                            </td>
                            <td class="topic-last-post">
                                <div>
                                    @string.Format("{0:g}", topic.LastPostTime)
                                </div>
                                <div>
                                    @topic.LastPostAuthor
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        
        <div id="new-photos">
            
            <ul class="thumbnails">

                @foreach (PhotoAlbumCoverViewModel album in this.Model)
                {

                    
                    <li class="col-md-6">
                        <a data-toogle="tooltip" class="thumbnail album-thumbnail" title="@album.Title" href="@Url.Action(MVC.Photos.Album().AddRouteValues(new { id = album.Id, title = album.Title }))">
                            <div>
                                <img src="@album.CoverImageUrl" alt="@Html.AttributeEncode(album.Title)">
                            </div>
                        </a>
                    </li>
 
                }
            </ul>
        </div>
        @section scripts
        {
            <script>
                $(function () {
                    $('.album-thumbnail').tooltip();
                })
            </script>
        }
    </div>
</div>